#top-nav {
  display: flex;
  height: 100px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  justify-content: space-between;
  padding: 0 1.5em 0 1.5em;
  position: fixed;
}

#top-nav span {
  font-family: 'Bungee', cursive;
  font-size: 52px;
  align-self: flex-end;
  padding-bottom: 15px;
}

#writer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#writer p {
  margin-block-start: .5em;
  margin-bottom: 5px;
}

#writer i {
  color: red;
}

/* media queries below/ responsive design */


/* Desktop breakpoint - 1024px + */

@media only screen and (min-width: 1024px) {
  #top-nav {
    background-color: #4056A1;
  }

}

/* Tablet breakpoint - 768px to 1023px */

@media only screen and (max-width: 1023px) {
  #top-nav {
    background:none;
    text-shadow: 1px 1px 1px #5a5a5a;
  }
  
  #top-nav span {
    -webkit-text-stroke: 1px black;
  }

  #writer {
    -webkit-text-stroke: .25px black;
  }

}