.new-tweet {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.new-tweet-form {
  display: flex;
  flex-direction: column;
}

#tweet-text {
  background: none;
  border-bottom: solid rgb(72, 72, 72) 3px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  color: #4f4f4f;
  resize: none;
  /* height: 45px; */
}

textarea::placeholder {
  color: #a0a0a0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.new-tweet-form div {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-tweet-form div button {
  background-color: #4056A1;
  color: white;
  font-family: 'Bungee', cursive;
  font-size: 17px;
  padding: 3px 10px 3px 10px;
  border: none;
}

.new-tweet-form div output {
  font-family: 'Bungee', cursive;
}

.counter-below {
  color: red;
}