#tweets {
  border: none;
  margin-top: 60px;
  margin-bottom: 10px;
}

#tweet-error {
  visibility: hidden;
  border: solid 3px red;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  padding-bottom: none;
  font-weight: 800;
}

.tweet {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  border: solid rgb(72, 72, 72) 3px;
  margin-bottom: 15px;
}

.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet header div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-tag {
  font-weight: 600;
  color: #cfcfcf;
}

.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid #4f4f4f 3px;
}

.tweet footer div {
  display: flex;
  align-items: center;
  gap: 7px;
}

.tweet footer p {
  font-size: small;
}

.fas {
  color: #4056A1;
}

.fas:hover {
  color:rgb(217, 151, 51);
}

.tweet:hover {
  box-shadow: 5px 5px #a9a9a9;
}

.icon-hover {
  color: rgb(217, 151, 51);
}


/* Desktop breakpoint - 1024px + */

@media only screen and (min-width: 1024px) {
  main {
    padding: 15px;
    padding-top: 80px;
  }

}

/* Tablet breakpoint - 768px to 1023px */

@media only screen and (max-width: 1023px) {

}